<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <%= stylesheet_link_tag 'styles.css' %>

    <title>Welcome</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand " href="#">Inicio</a>
        <div class="collapse navbar-collapse"></div> 
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="logout" >
                    <button type="button" class="btn btn-danger">Salir</button>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="jumbotron">
        <h1>Bienvenido: <%= @user.name %></h1>
    </div>
    
    <footer class="fixed-bottom footer mt-auto py-3 bg-light bg-gradient">
        <div class="container text-center">
            <span>Fin de pagina</span>
        </div>
    </footer> 

</body>
</html>